/* Fuente de google */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap"); /* Tipografias */

/* Restablecer valores a cero */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--tipografiaGeneral);
  font-size: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* Variables CSS */
:root {
  --tipografiaNombre: "Protest Guerrilla", Arial, sans-serif;
  --tipografiaGeneral: "Kanit", Arial, sans-serif;
  /* Colores */
  --FondoBody: #333333bf; /* Negro semi-transparente */
  --FondoNav: #1f1f1f; /* Gris oscuro para el nav */
  --TituloH1: #264653; /* Azul petróleo */
  --Texto: #f5f5f5; /* Blanco */
  --TextoLink: #2ecc71; /* Verde Esmeralda */
  --ColorOpcion1: #2a9d8f; /* Verde Azulado */
  --ColorOpcion2: #708090; /* Gris más oscuro */
  --ColorOpcion3: #d1c4e9; /* Lavanda */
  --ColorOpcion4: #ffeb3b; /* Amarillo brillante */
  --Hover: #e63946; /* Rojo Coral */
}

body {
  background-color: var(--FondoBody);
}
