/* Fuente de google */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap"); /* Tipografias */

/* Restablecer valores a cero */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--tipografiaGeneral);
  font-size: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* Variables CSS */
:root {
  --tipografiaNombre: "Protest Guerrilla", Arial, sans-serif;
  --tipografiaGeneral: "Kanit", Arial, sans-serif;
  /* Colores */
  --FondoBody: #000; /* Negro */
  --FondoNav: #1f1f1f; /* Gris oscuro para el nav */
  --TituloH1: #264653; /* Azul petróleo */
  --Texto: #f5f5f5; /* Blanco */
  --TextoLink: #2ecc71; /* Verde Esmeralda */
  --ColorOpcion1: #2a9d8f; /* Verde Azulado */
  --ColorOpcion2: #708090; /* Gris más oscuro */
  --ColorOpcion3: #d1c4e9; /* Lavanda */
  --ColorOpcion4: #ffeb3b; /* Amarillo brillante */
  --Boton: #00cc99; /* Verde claro */
  --BotonHover: #009973; /* Verde más oscuro */
  --Hover: #e63946; /* Rojo Coral */
}

body {
  background-color: var(--FondoBody);
  color: var(--Texto);
}
/* ------------------------------------------------------------------------- */

/* Estilos generales */
.titulo {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.iconoLogo {
  width: 80px;
  height: 80px;
}

/* Estilos del formulario */
.formulario {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}
.campo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--Texto)
}
.inputCampo {
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  outline: none;
  padding: 10px 0;
}

/* Estilos de los botones */
.botones {
  width: 100%;
  max-width: 300px;
}
.boton {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--Texto);
  background-color: var(--Boton);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton:hover {
  background-color: var(--BotonHover);
}
/* ------------------------------------------------------------------------- */

/* Estilos inicio */
.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}
.encabezado {
  text-align: center;
  margin-bottom: 30px;
}
/* ------------------------------------------------------------------------- */



/* "homepage": "http://JLeonN.github.io/EntrenaPro", */
