/* Fuente de google */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap"); /* Tipografias */

/* Restablecer valores a cero */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--tipografiaGeneral);
  font-size: 100%;
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Variables CSS */
:root {
  --tipografiaNombre: "Protest Guerrilla", Arial, sans-serif;
  --tipografiaGeneral: "Kanit", Arial, sans-serif;
  /* Colores */
  --FondoBody: #000; /* Negro */
  --FondoNav: #1f1f1f; /* Gris oscuro */
  --TituloH1: #4caf50; /* Verde brillante */
  --Texto: #f5f5f5; /* Blanco */
  --TextoLink: #2a9d8f; /* Verde azulado */
  --ColorOpcion1: #264653; /* Azul petróleo */
  --ColorOpcion2: #e63946; /* Rojo coral */
  --ColorOpcion3: #f4a261; /* Naranja cálido */
  --ColorOpcion4: #2ecc71; /* Verde esmeralda */
  --Boton: #00cc99; /* Verde claro */
  --BotonHover: #009973; /* Verde más oscuro */
  --BotonActive: #006644; /* Verde oscuro para clics */
  --Hover: #e63946; /* Rojo coral */
}

body {
  background-color: var(--FondoBody);
  color: var(--Texto);
}
/* ------------------------------------------------------------------------- */

/* Estilos generales */
.titulo {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.iconoLogo {
  width: 80px;
  height: 80px;
}

/* Estilos del formulario */
.formulario {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}
.campo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.inputCampo {
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  outline: none;
  padding: 10px 0;
  color: var(--Texto);
  border-bottom: 1px solid var(--Texto);
}
.campo:focus-within {
  border-bottom: 1px solid var(--Hover); /* Cambia la línea al color que prefieras */
}

/* Estilos de los botones */
.botones {
  width: 100%;
  max-width: 300px;
}
.boton {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--Texto);
  background-color: var(--Boton);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton:hover {
  background-color: var(--BotonHover);
}
.boton:active {
  background-color: var(--BotonActive);
}
/* ------------------------------------------------------------------------- */

/* Estilos inicio */
.contenedorPrincipal {
  height: calc(100vh - 40px); /* 40px es el total del padding vertical */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.encabezado {
  text-align: center;
  margin-bottom: 30px;
}
/* ------------------------------------------------------------------------- */
